<!DOCTYPE html>
<html>

<head>
  <title>Home</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <h1>Benvenuto</h1>
  <h4>Questa applicazione web ti può aiutare a gestire il personale</h4>
  <a href="/users">Gestione utenti</a>
</body>

</html>